<div class="container-fluid p-0">
    <nav class="navbar-one navbar navbar-expand-md navbar" id="navbar-one">
        <div class="container-fluid">
            <% if (!currentUser) { %>
                <a class="navbar-brand" href="/login">Happiness Journal</a>
            <% } else { %>
                <a class="navbar-brand" href="/entries">Happiness Journal</a>
            <% } %>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>

                <% if (!currentUser) { %> 
                <a class="login btn" href="/login">Log In</a>
                <% } else { %> 
                <a class="settings btn" href="/settings">Settings</a>
                <a class="logout btn" href="/logout">Log Out</a>
                <% } %> 
            </div>
        </div>
    </nav>
</div>
<!-- second navbar -->
<% if (currentUser) { %> 
<nav class="navbar-two navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <div class="row"></div>
        <div class="navbar-inner">
            <ul class="nav navbar-nav mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link isActive1" aria-current="page" href="/entries">All Entries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link isActive2" href="/entries/new">New Entry</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link isActive3" href="/entries/chart">Happiness Chart</a>
                </li>
            </ul>
        </div>
        <div class=" row"></div>
    </div>
</nav>
<% } %> 
