<!-- second navbar -->
<nav class="navbar-two navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid">
                <a class="btn btn-dark" role="button" href="/entries/new">New Entry</a>
            </div>

        </div>
        <div class=" row">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-dark" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>