<div class="container-fluid p-0">
    <nav class="navbar-one navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Journal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/entries">All Entries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Help</a>
                    </li>
                </ul>

                <% if (!currentUser) { %> 
                <a class="nav-link logout btn navbar-text" href="/login">Log In</a>
                <a class="nav-link logout btn navbar-text" href="/register">Register</a>
                <% } else { %> 
                <a class="nav-link logout btn navbar-text" href="/logout">Log Out</a>
                <% } %> 
            </div>
        </div>
    </nav>
</div>
<!-- second navbar -->
<% if (currentUser) { %> 
<nav class="navbar-two navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid">
                <a class="btn btn-dark" role="button" href="/entries/new">New Entry</a>
            </div>

        </div>
        <div class=" row">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-dark" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<% } %> 