<% layout('/layouts/boilerplate') %> 


<h1>All Entries</h1>
<div>
    <a href="/entries/new">Add Entry</a>
</div>
<ul>
    <% for (let entry of entries) { %> 
        <li> <a href="/entries/<%= entry.id %>"><%= entry.subject %></a> </li> 
            <hr>
    <% } %> 
</ul>
