<% layout('/layouts/boilerplate') %>

    <form action="/entries" method="POST">
        <div class="">
            <label for="date">Date:</label>
            <input type="date" id="date" name="entry[date_num]" value="2021-06-04" min="2000-01-01" max="2100-12-31">
        </div>
        <div class="">
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="entry[subject]">
        </div>
        <div class="">
            <label for="body">Body:</label>
            <input type="text" id="body" name="entry[body]">
        </div>
        <div class="">
            <label for="rating">Rating:</label>
            <input type="number" id="rating" name="entry[rating]" min="0" max="10">
        </div>
        <div class="">
            <label for="tag">Tag:</label>
            <input type="text" id="tag" name="entry[tag]">
        </div>
        <button>Add Entry</button>
    </form>
    <a href="/entries">All Entries</a>
